

.navbar{
   display: flex; 
   justify-content: space-around;
   align-items: center;
   font-size: 20px;
   overflow: hidden;
}
.navbar a{
    text-decoration: none;
}
.skilltext{
    color: red;   
}
.firstskill{
    color: red;
    font-size: larger;
}
.herotext{
    color: black;
    font-size: x-large;
}
.loginbutton{
    border: solid 2px;
    border-radius: 20px;
    background-color: white;
    padding: 10px 20px;
    color: red;
    
}
.text{
    color: grey;
}
.joinbutton{
    border: solid 2px;
    border-color: red;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
}
.input{
    border: solid 2px;
    padding: 20px 100px;
    width: 40%;
    border-radius: 40px ;
    background-color: rgb(250, 241, 241);
    border-color: rgb(211, 203, 203);
}
.explorebutton{
    border-radius: 30px;
    border-color: rgb(253, 109, 109);
    padding: 20px 20px;
    background-color: rgb(243, 94, 94);
    color: white;
     margin-left: -100px;
    margin-top: -22px;
}
.landingpage{
    display: flex;
    gap: 15%;
    margin-left: 4%;
    /* justify-content: space-around; */
    font-size: 30px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.image{
    border-radius: 50%;
    object-fit: cover;
    width: 500px; 
    height: 500px;
}
.skillhero-logos{
    color: rgb(171, 169, 169);
    justify-content: space-around;
    display: flex;
    height: 60px;
    text-align: justify;
    padding: 30px;
}

@media screen and (min-width:280px) and (max-width:375px){
.firstcontainer{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.navbar{
    display: flex;
    flex-direction: column;
   }   
.landingpage{
    display: block;
}

.footer{
    display: block;
}
.skillheroheadline{
    font-size: 10px;

}
.loginbutton{
    border: solid 2px;
    border-radius: 20px;
    padding: -100px;
    
}
.input{
    border: solid 2px;
    border-radius: 30px ;
    padding: 20px;
     width: 20%; 
    border-color: rgb(211, 203, 203);
}
.image{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.explorebutton{
    border-radius: 30px;
    margin-left: 20px;
    margin-top: -5px;
    padding: 10px;
   
}
.skillhero-logos{
    justify-content: space-around;
    display: block;
    height: 30px;
    padding: 10px;
}

}
@media only screen and (min-width:376px) and (max-width:600px){
    .firstcontainer{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
       }   
    .landingpage{
        display: block;
    }
    
    .footer{
        display: block;
    }
    .skillherocontent{
        font-size: 30px;
    }
    .skillheroheadline{
        font-size: 20px;
    
    }
    .loginbutton{
        border: solid 2px;
        border-radius: 20px;
        padding: -100px;
        
    }
    .input{
        border: solid 2px;
        border-radius: 30px ;
        padding: 20px;
         width: 30%; 
        border-color: rgb(211, 203, 203);
    }
    .image{
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
    .explorebutton{
        border-radius: 30px;
        margin-left: 20px;
        margin-top: -5px;
        padding: 10px;
       
    }
    .skillhero-logos{
        justify-content: space-around;
        display: block;
        height: 30px;
        padding: 10px;
    }
    
}

@media only screen and (min-width:601px) and (max-width:1300px){
    .firstcontainer{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
       }   
    .landingpage{
        display: block;
    }
    
    .footer{
        display: block;
    }
    .skillherocontent{
        font-size: 50px;
    }
    .skillheroheadline{
        font-size: 30px;
    
    }
    .loginbutton{
        border: solid 2px;
        border-radius: 20px;
        padding: -100px;
        
    }
    .input{
        border: solid 2px;
        border-radius: 30px ;
        padding: 20px;
         width: 30%; 
        border-color: rgb(211, 203, 203);
    }
    .image{
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
    .explorebutton{
        border-radius: 30px;
        margin-left: 20px;
        margin-top: -5px;
        padding: 10px;
       
    }
    .skillhero-logos{
        justify-content: space-around;
        display: block;
        height: 30px;
        padding: 10px;
    }
    
}